
<div class="top-navigation">
    <div class="top-left-container">
        <button class="button"><span class="material-symbols-outlined">
            apps
            </span></button>
        <p class="title">To Do</p>
    </div>
    <div class="top-middle-container">
        <div class="search-bar-left">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="search-bar-middle">
            <input type="text" placeholder="Search">
        </div>    
        <div class="search-bar-right">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div class="top-right-container">
        <div class = "setting-icon" (click)="openSettingsMenu()">
            <i class="fa-solid fa-gear"></i>
        </div>
        <div class="setting-icon">
            <i class="fa-solid fa-question"></i>
        </div>
        <div class="setting-icon">
            <i class="fa-solid fa-bullhorn"></i>
        </div>
        <div class="setting-icon">
            <i class="fa-regular fa-circle-user"></i>
        </div>
    </div>
</div>
<app-side-nav></app-side-nav>