<div class="side-navigation">
    <div class="side-navigation-header">
        <div class = "side-navigation-button">
            <button id="toggle-menu"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>

    <div class="side-navigation-content">
        <app-category-container></app-category-container>
    </div>

    <div class="side-navigation-bottom">
        <div class="side-navigation-bottom-icon">
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="side-navigation-bottom-icon">
            <i class="fa-regular fa-calendar"></i>
        </div>
        <div class="side-navigation-bottom-icon">
            <i class="fa-solid fa-user-group"></i>
        </div>
        <div class="side-navigation-bottom-icon">
            <i class="fa-solid fa-paperclip"></i>
        </div>
        <div class="side-navigation-bottom-icon">
            <i class="fa-solid fa-check"></i>
        </div>
    </div>  
</div>
