<ul id = "task-list">
    <li class="side-navigation-menu"  *ngFor="let category of categories" (click)="selectCategory(category)">
        <div class="side-navigation-menu-icon">
            <i class="{{category.icon}}"></i>
        </div>
        <div>
            <span>
                {{category.name}}
            </span>
        </div>
        <hr [ngClass]="category.id==5? 'category-line':''">
    </li>
</ul>

<div>
    <button><i class="fa-solid fa-plus"></i></button> 
    <div class="add-list">
        <input  [(ngModel)]="category" id="add-new-task-collection" type="text" placeholder="New list" (keyup.enter)="addCategory(category); category= ''">
    </div>    
    <i class="fa-solid fa-user-plus"></i>
</div>  
