<div class="right-container hide-right-container" *ngIf="existingTask">
    <div class = "task-header">
        <div class = "task-title">
            <div>
                <i [ngClass]="existingTask.isCompleted?'fa-regular fa-circle-check':'fa-regular fa-circle'"
                    (click)="completedStatusOfTask(existingTask)"></i>
            </div>
            <div class=" display-task-title">{{existingTask.name}}</div>
            <div>
                <i [ngClass]="existingTask.isImportant?'fa-solid fa-star':'fa-regular fa-star'"
                    (click)="markImportant(existingTask)"></i>
            </div>
        </div>
    </div>
    <div class="task-details">    
        <div class="task-steps">
            <i class="fa-regular fa-circle"></i>
            <input type="text" placeholder="Add Step">  
        </div>
        <div class="section">
            <button>
                <i class="fa-regular fa-sun"></i>
                <span>Add to My Day</span>
            </button>
        </div>
        <div class = "task-section">
            <div class = "task-section-item">
                <button>
                    <i class="fa-regular fa-bell"></i>
                    <p>Remind me</p>
                </button>
            </div>
            <div class = "task-section-item">
                <button>
                    <i class="fa-solid fa-calendar-days"></i>
                    <p>Add due date</p>
                </button>
            </div>
            <div class = "task-section-item">
                <button>
                    <i class="fa-solid fa-repeat"></i>
                    <p>Repeat</p>
                </button>
            </div>
        </div>
        <div class="task-category">
            <i class="fa-solid fa-tag"></i>
            <input type = "text" placeholder="Pick a category">
        </div>
        <div class="add-file-to-task">
            <button>
                <i class="fa-solid fa-paperclip"></i>
                <p>Add file</p>
            </button>
        </div>
        <div class="task-description">
            <textarea [(ngModel)]="note" (blur)="addNote(note)" type="text"
                placeholder="Add note">{{existingTask.note}}</textarea>
        </div>
    </div>
    <div class="task-details-footer">
        <div (click)="closeTaskMenu(false)">
            <button>
                <i class="fa-solid fa-right-from-bracket"></i>
            </button>
        </div>
        <div class="task-date">
            <p>Created Today</p>
        </div>
        <div class="delete-task-icon">
            <button>
                <i class="fa-regular fa-trash-can"></i>
            </button>
        </div>
    </div>
</div>
