<div class="open-settings">
    <div>
        <i class="fa-solid fa-gear"></i>
        <p>Settings</p>
    </div>

    <div class="setting-menu" (click)="openGeneralSettings()">
        <i class="fa-solid fa-gears"></i>
        <p>General</p>
    </div>
    <div class="setting-menu" (click)="openProfileSettings()">
        <i class="fa-solid fa-user"></i>
        <p>Profile</p>
    </div>
    <div class="setting-menu" (click)="openMainMenu()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <p>Back</p>
    </div>
</div>
<router-outlet></router-outlet>