.side-navigation {
    width: 290px;
    height: 529px;
    display: inline-block;
    box-shadow: -2.5px 0px 8px gray;

    .side-navigation-header {
        margin-top: 26px;
        padding-left: 24px;
        padding-right: 24px;
        height: 48px;
        width:242px;
    }

    i {
        width: 20px;
        height: 20px;
        background-color: transparent;
    }

    ul {
        list-style: none;
    }

    .side-navigation-content {
        height: 400px;
        overflow-y: auto;

        div:last-child {
            padding-left: 20px;
            height: 30px;
        
            .add-list {
                display: inline-block;
                width: 72%;
            
                input {
                    width: 162px;
                    height: 20px;
                    padding-left: 16px;
                    font-size: 14px;
                }
            
                input::placeholder {
                    color:#2564CF;
                    font-size: larger ;
                }
            }
            
            i:last-child {
                color: #2564CF;
            }
            
            :hover {
                background-color: #f5f5f5;
            }
            
            button {
                width: 20px;
                height: 20px;
                color: #2564CF;
                background-color: transparent;
                font-size: larger;
            }
            
            i:first-child {
                background-color: transparent;
                font-size: larger;
            }
        }
    }

    .side-navigation-bottom {
         div {
            width: 54px;
            font-size: larger;
            background-color:  transparent;
            padding: 14px 0;
            text-align: center;
            display: inline-block;
        }

        div:hover {
            background-color: #f5f5f5;
        }
    }

    .side-navigation-button i {
        font-size: 20px;
    }
}

.hide-side-navigation {
    display: none;
}