* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Segoe","Segoe UI","Arial","Sans-serif";
    font-weight:lighter;
}

button, input {
    background-color: transparent;
    outline: none;
}